<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ApplicationID" value="684091407836774400"/>
    <add key="Details" value="Stage 8: Reborn"/>
    <add key="State" value="Playing Mode: Always Alone"/>
    <add key="boolSpectate" value="False"/>
    <add key="boolAskToJoin" value="False"/>
    <add key="LargeImage" value=""/>
    <add key="LargeImageText" value="Server: World Simulation"/>
    <add key="SmallImage" value=""/>
    <add key="SmallImageText" value="Player: Zerumi"/>
</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>